<p id="notice"><%= notice %></p>

<p>
  <b>Person:</b>
  <%= @task.person_id %>
</p>

<p>
  <b>Desc:</b>
  <%= @task.desc %>
</p>

<p>
  <b>Active:</b>
  <%= @task.active %>
</p>

<p>
  <b>Date start:</b>
  <%= @task.date_start %>
</p>

<p>
  <b>Date finish:</b>
  <%= @task.date_finish %>
</p>


<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>
